<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.routy"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="org.routy" />

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    
    <permission
        android:name="org.routy.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
	<uses-permission android:name="org.routy.permission.MAPS_RECEIVE"/>
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:allowBackup="true" >
        
        <!-- For MapFragment (Google Maps API v2) -->
        <meta-data 
            android:name="com.google.android.maps.v2.API_KEY" 
            android:value="@string/google_maps_v2_api_key_active"/>

        <!-- For MapView and Geocoder -->
        <uses-library android:name="com.google.android.maps"/>
        
        <!-- For JUNIT Tests -->
        <uses-library android:name="android.test.runner" />

        <activity
			android:name=".MainActivity"
			android:noHistory="true"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OriginActivity"
            android:label="@string/title_activity_origin" 
            android:screenOrientation="portrait"
         	android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".DestinationActivity"
            android:label="@string/title_activity_destination" 
            android:screenOrientation="portrait" 
			android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".DestinationListAdapterActivity"
            android:label="@string/title_activity_destination" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_preferences" 
            android:screenOrientation="portrait" >
        </activity>
        
    </application>

</manifest>